html{
    box-sizing: border-box;
}
*, ::before, ::after {
    box-sizing: inherit;
}
body {
    margin: 15px;
    font-family: 'Raleway', sans-serif;
}
header{
    display: flex;
}
.logo {
    margin-left: 40px;
    margin-right: 80px;
}
nav {
    width: 100%;
    padding-top: 75px;
}

a {
    text-decoration: none;
    color: #B05BBE;
    font-weight: bold;
}

.caja {
    margin-top: 20px;
    height: 700px;
    background-color: rgba(250, 234, 253, 1);
    border: 2px solid red;
}
#inicio h1 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;

}
#inicio img{
    width: 100%;
    height: 90%;
    object-fit: cover;
}
#nosotros {
    padding: 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
#nosotros h2 {
    text-align: center;
}

/* news section */

#news{
    font-family: sans-serif;
    color: black;
    background-color: #F7F1F8;
    margin: 10px 0px 10px 0px; /*top righ bottom left*/
    padding: 20px 36px 20px 36px;
    border: 50px;
}
#news h1 {
    padding: 20px 20px 10px 50px;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
}
#news .container{
    display: flex;
    flex-direction: row;
    align-items: center; /*gallery*/
    column-gap: 20px; /*gallery*/
    overflow-x: scroll; /*gallery*/
    scroll-snap-type: x mandatory;  /*gallery*/
    /*gap: 10px;*/
    margin: 50px;
}
.newscard{
    background-color: #E070F2;
    width: 300px;
    height: 500px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin: 50px 10px 20px 10px; /*top righ bottom left*/   
    scroll-snap-align: center;  /*gallery*/ /*Centra el card dentro scroll */
    min-width: 50%; /*gallery*/  /*%del width de la página que ocupa la tarjeta*/
}
.newscard img{
    border-radius: 10px;
    width: 100%;
    height: 75%;
    object-fit: cover; /* opción en gallery cover / contain*/
}
.newscard h2{
    width: wrap;
    /*text-align: justify; /*Si se requiere texto justificado ponerlo aqui*/
    /*padding-left: 15px;*/ /*En caso de activar el justificar, descomentar este*/
}

/* section news final */
@import url(https://fonts.google.com/specimen/Raleway?query=raleway);
@import url(https://fonts.google.com/specimen/Rambla?query=rambla);

.men{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    text-align: right;
    background-color: #FAEAFD59 35%;
}

.menu{
    color: #B05BBE;
    word-spacing: 20px;
    font-style: normal;
    font-family: raleway;
    
}
a:link,a:visited,a:active{
    text-decoration: none;
    color: #B05BBE;

}

a:hover {
    color: white;
    background: #B05BBE;
  }
.Banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#464646;
    text-align: center;
    font-family: Raleway;
    font-size: 30px;

}
.Nosotros{
    display: flex;
    flex-direction: column;
    color:#464646;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15;
    margin: 70px,100px,70px,100px;
    padding: 80px;
}
h2{
    font-family: Raleway;
    font-size: 25px;
}
h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.Nosotros{
    background-color: #FAEAFD;
   }
   .Banner{
    background-color: #B05BBE;
   }