/*Para todo el html*/
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    transition:all .5s ease-in-out;
}

body{
    background-color: white;
    min-height: 100%;
}

html{
    height: 100%;
}
header{
    display: flex;
}
.logo {
    margin-left: 40px;
    margin-right: 80px;
}

@media (max-width:800px){
    .logos {
        width: 150px;
    }
}
nav {
    width: 100%;
    padding-top: 75px;
}

a {
    text-decoration: none;
    color: #B05BBE;
    font-weight: bold;
}
body {
    margin: 15px;
    font-family: 'Raleway', sans-serif;
}

header{
    display: flex;
    
}

nav {
    width: 100%;
    padding-top: 75px;
}

a {
    text-decoration: none;
    color: #B05BBE;
    font-weight: bold;
}

.caja {
    margin-top: 20px;
    height: 700px;
    background-color: rgba(250, 234, 253, 1);
    border: 2px solid red;
}
#inicio h1 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;

}
#inicio img{
    width: 100%;
    height: 90%;
    object-fit: cover;
}
#nosotros {
    padding: 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
#nosotros h2 {
    text-align: center;
}

/* news section */

#news{
    font-family: sans-serif;
    color: black;
    background-color: #F7F1F8;
    margin: 10px 0px 10px 0px; /*top righ bottom left*/
    padding: 20px 36px 20px 36px;
    border: 50px;
}
#news h1 {
    padding: 20px 20px 10px 50px;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
}
#news .container{
    display: flex;
    flex-direction: row;
    align-items: center; /*gallery*/
    column-gap: 20px; /*gallery*/
    overflow-x: scroll; /*gallery*/
    scroll-snap-type: x mandatory;  /*gallery*/
    gap: 10px;
    margin: 50px;
}
.newscard{
    background-color: #E070F2;
    /* width: 300px; */
    /* height: 500px; */
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin: 50px 10px 20px 10px; /*top righ bottom left*/   
    scroll-snap-align: center;  /*gallery*/ /*Centra el card dentro scroll */
    min-width: 50%; /*gallery*/  /*%del width de la página que ocupa la tarjeta*/
}
.newscard img{
    border-radius: 10px;
    width: 100%;
    height: 75%;
    object-fit: cover; /* opción en gallery cover / contain*/
}
.newscard h2{
    width: wrap;
    font-size: 18px;
    text-align: justify; /*Si se requiere texto justificado ponerlo aqui
   /* padding-left: 15px; En caso de activar el justificar, descomentar este */
}

/* section news final */

/*Empieza sección Sandra*/
@import url(https://fonts.google.com/specimen/Raleway?query=raleway);
@import url(https://fonts.google.com/specimen/Rambla?query=rambla);

.menu{
    color: #B05BBE;
    word-spacing: 20px;
    font-style: normal;
    font-family: raleway;
    text-align: right;
}
a:link,a:visited,a:active{
    text-decoration: none;
    color: #B05BBE;

}

a:hover {
    color: white;
    background: #B05BBE;
  }
.Banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#464646;
    text-align: center;
    font-family: Raleway;
    font-size: 30px;
    width: 100%;


}
.imgban:hover { 
    filter: blur(100px);
}
.Nosotros{
    display: flex;
    flex-direction: column;
    color:#464646;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15;
    margin: 70px,100px,70px,100px;
    padding: 80px;
}
h2{
    font-family: Raleway;
}
h4{
    font-family: Arial, Helvetica, sans-serif;
}

.Nosotros{
    background-color: #FAEAFD;
   }
   .Banner{
    background-color: #B05BBE;
   }
   #uno{
    color:#b45cbc;
    font-weight: bold;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    line-height: normal;
}
#dos{
    color:#b45cbc;
    font-weight: bold;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    line-height: normal;
   
}
#tres{
    color:#b45cbc;
    font-weight: bold;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    line-height: normal;
}
p{
    color: #cf96d5;
}
button{
color: white;
width: 196px;
height: 117px;
padding: 16px 24px;
background-color: #b45cbc;
}

.card1{
        display: flex;
        flex-direction: column;
        width: 500px;
        height: 400px;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        align-items: center;   
}
.card1 p{
    text-align: center;
    font-size: 22px;
}
.card2{
    width: 500px; ;
    height: 400px ;
    padding: 10px;
    text-align: center; 
    border-radius: 10px; 
    margin-bottom: 10px;
}
.card2 p{
    text-align: center;
    font-size: 22px;
}
.container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 50px;
    place-content: center;
    justify-content: space-around;
}
.container2{
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: center;
    place-content: center;
    align-content: justify;
    text-decoration: none;
    margin-bottom: 75px;
}
.rectangle{
    display: flex;
    width: 1440px;
    height: 200px;
    flex-direction: column;
    align-items: center;
    gap: 88px;
}
.card3{
    background-color: #FAEAFD;
    display: flex;
    width: 176px;
    height: 269px;
    padding: 16px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 8px;
}
a{text-decoration: none;}
.footer {
    background-color: #FAEAFD;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    color: #FF66FF ;
    padding: 18px;
    display: flex;
    justify-content: space-between;
}
.social {
    display: flex;
    gap: 20px;
    align-items: center;
}
.donativos {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info {
    display: flex;
    flex-direction: column;
    align-items: right;
}
/*aquí empieza lo de la tabla*/
.Tabla{
    margin: 0 auto;
    width: 50%;
 }
 

 table {
     border: 2px solid rgb(218, 114, 231);
     
     
 }
 td {
     border: 2px solid rgb(218, 114, 231);
     text-align: center;
     vertical-align: middle;
     background-color: rgb(236, 185, 248);
 }
 caption {
     border: 2px solid rgb(218, 114, 231);
     margin-bottom: 2rem;
     background-color: rgb(218, 114, 231);
 }
 
 th {
     background-color: rgb(218, 114, 231);
     border: 2px solid rgb(218, 114, 231);
 }
.contacto {
    margin-top: 20px;
    /* height: 700px; */
    background-color: rgba(250, 234, 253, 1);
    border: 2px solid rgba(250, 234, 253, 1);
}
.llenarF {
    width: 100px;
    height: 50px;
    color: #d886cd !important;
    border-radius: 0.5rem;
    font-family:'Raleway', sans-serif;
    font-size: 20px;
    padding: 10px;
    background: rgba(0,0,0,0);
    border: 2px solid;
    border-color: #B05BBE;
    transition: all 1s ease;
}
.llenarF:hover {
    background: #B05BBE;
    color: #fff !important;
}
.containerF{
    border: #FAEAFD;
    background-color: #FAEAFD;
    display:flex;
    flex-direction: row;
    gap: 70px;
    /* margin: 50px; */
    display: flex;
    padding: 18px;
}
.card2F{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 600px;
    padding-bottom: 30px;
}
input[type=text]{
    padding: 1rem 15rem 1rem 1rem;
    border: none;
    border-radius: 4px;
}
input[type=email]{
    padding: 1rem 15rem 1rem 1rem;
    border: none;
    border-radius: 4px;
}


/*intento de pag responsiva teléfono*/

@media (min-width : 320px) { /*media Queries: te permite crear e implementar diseños que se 
    adapten a los dispositivos (alto, ancho). Los cambios se aplican sólo a este ancho*/
   
    td{
        font-size: medium; /* Cambia el tamaño de fuente*/
    }
    #nosotros{
        margin: 0px; 
        padding: 15px; /*es un relleno alrededor del contenido de un elmento dentro de 
        los bordes (formato y diseño)*/
    }
    .card1{
        display: inline; /*Establece los tipos de visualización interna y externa de un elemento. 
        El sig elemnto se situa a la dereha*/
    }
    .card3{
        height: auto; /*Altura*/
    }
    .container2{
        display: grid; /*cuadrícula de una sola columna, los elemtos que continuan se muestran 
        uno debajo del otro*/
        
    }
    #news{
        padding: unset; /*restablece propiedades*/
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    /* .recursosAyuda{
        display: inline-table; /*muestra tabla en línea*/
    /* } */ */
    #news .container{
        display: inline-table;
        padding-left: 0px;
        margin: 0px;
    }
    .newscard{
        height: auto;
    }
    .imgfooter{
        display: none;
    }
    .containerF{
        gap: unset;
    }
    input{
        width: 50px;
    }
    .card2F{
        height: auto;
    }
    .footer{
        display: inline-table;
    }
    .redes{
        width: 40px;
        height: 40px;
    }
    
    .cajaF{
        display: flex;
        justify-content: center;
    }
    .footer{
        display: flex;
        justify-content: center;
    }
}

/*Tablet*/
@media (min-whidth : 768px) {

#nosotros{
    margin: 0px; 
    padding: 100px;
    font-size: xx-large;
}

}

/*Escritorio*/
@media (min-whidth : 900px) {

    #nosotros{
        margin: 0px; 
        padding: 100px;
        font-size: xx-large;
    }
    
    }









